.container {
  background-color: #EEEEEE;
  width: auto;
  border-radius: 1%;
  margin: 5% 10% 5% 10%;
  padding-top: 40px;
}

.jumbotron {
  background-color: white;
  padding: 2px;
  margin: 60px;
}

h1 {
  font-family: helvetica;
  font-size: 63px;
}

h2 {
  font-style: italic;
}
.subhead {
  padding-top: 5%;
  padding-left: 20%;
}

.dates {
  display: inline-block;
  font-size: 14px;
  padding-left: 20%;
  padding-right: 20%;
}

.quote {
  padding: 5% 20% 1% 20%;
  font-size: 20px;
}

.attribution {
  padding-left: 20%;
  paddding-right: 20%;
  font-style: italic;
  color: grey;
}

.link {
  padding: 5% 20% 5% 20%;
  font-size: 22px;
}
